@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.metrics {
  font-family: "Source Code Pro", monospace;
}

@media (max-width: 768px) {
  .metrics {
    font-size: 200%;
  }
}

@media (min-width: 768px) {
  .metrics {
    font-size: 300%;
  }
}

@media (min-width: 1200px) {
  .metrics {
    font-size: 400%;
  }
}
